@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local("Manrope"), url("/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: local("Manrope"), url("/fonts/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local("Manrope"), url("/fonts/Manrope-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local("Manrope"), url("/fonts/Manrope-ExtraBold.ttf") format("truetype");
}
/*zeroing*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #B7BABE;
  font-family: Manrope;
}

.header__container {
  max-width: 100%;
  text-align: center;
  margin: auto;
}
.header__title-top {
  margin-top: 18px;
}
.header__title {
  margin-top: -9px;
}
.header__subtitle {
  max-width: 712px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 84px;
  font-weight: 700;
  line-height: 114.74px;
}
.title_small {
  font-size: 36px;
  font-weight: 800;
  line-height: 49.18px;
}
.title_subtitle {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.25px;
  color: #fff;
}
.title span {
  color: #fff;
}

.content__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 40px;
  border-top: 1px solid #191B1D;
}
.content__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.content__block_right-border {
  border-right: 1px solid #191B1D;
}
.content__block_bottom-border {
  border-bottom: 1px solid #191B1D;
}

.block-fox__task {
  margin-bottom: 50px;
  margin-top: 30px;
}
.block-fox__fox {
  position: relative;
  margin-top: -250px;
}

.block-card {
  perspective: 1000px;
}
.block-card__animation {
  display: flex;
  width: 470px;
  margin-top: 58px;
}
.block-card__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -67px;
  z-index: 2;
  width: 284px;
  height: 444px;
}
.block-card__birds1 {
  position: relative;
  top: 90px;
  left: -25px;
  z-index: 3;
}
.block-card__birds2 {
  position: relative;
  top: 32px;
  left: -97px;
  z-index: 1;
}
.block-card__task {
  margin-bottom: 34px;
  margin-top: 32px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 16px;
}
.card_button {
  width: 218px;
  height: 56px;
}
.card__infinity {
  margin-top: 25px;
}
.card__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 5px 24px;
}
.card__info {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 24px;
}

.button {
  display: flex;
  background-color: #FDD170;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
}
.button__image {
  width: 22px;
  height: 15px;
}
.button__text {
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  margin-left: 9px;
}

.card-body {
  width: 504px;
  height: 608px;
  margin-top: 54px;
  background-color: #FFFFFF;
}

.form {
  border-top: 5px solid #FDD170;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 68px;
  text-align: center;
  margin-top: 17px;
}
.form__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.form__select {
  width: 440px;
  height: 64px;
  margin-top: 32px;
  border-bottom: 1px solid #F4F4F4;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  background-color: #FFFFFF;
}
.form__option {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 88px;
  height: 178px;
  margin-top: 77px;
}
.numbers__num {
  width: 88px;
  height: 48px;
  padding-top: 12px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  opacity: 0.35;
}

.tabs {
  width: 288px;
  height: 178px;
  margin-top: 93px;
  margin-left: 36px;
}
.tabs__title {
  display: flex;
  justify-content: space-between;
  width: 240px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}
.tabs__title_margin-top {
  margin-top: 32px;
}
.tabs__title-open::after {
  content: url("../svg/arrow_down.svg");
}
.tabs__title-close::after {
  content: url("../svg/arrow_up.svg");
}
.tabs__info {
  width: 240px;
  height: 50px;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.task {
  max-width: 294px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.line {
  border: 1px solid #F4F4F4;
  margin-top: 16px;
}