@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400; 
  src: local("Manrope"),
  url("/fonts/Manrope-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600; 
  src: local("Manrope"),
  url("/fonts/Manrope-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700; 
  src: local("Manrope"),
  url("/fonts/Manrope-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800; 
  src: local("Manrope"),
  url("/fonts/Manrope-ExtraBold.ttf") format("truetype")
}

@import "_nullstyle.scss";

$border-param: 1px solid #191B1D;

@mixin font($fz, $fw, $lh) {

  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;

}

body {
  background-color: #B7BABE;
  font-family: Manrope;
}
.header {
  
  &__container {
    max-width: 100%;
    text-align: center;
    margin: auto;
  }

  &__title-top {
    margin-top: 18px;
  }

  &__title {
    margin-top: -9px;
  }

  &__subtitle {
    max-width: 712px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}
.title {

  @include font(84px, 700, 114.74px);

  &_small {
    @include font(36px, 800, 49.18px);
  }

  &_subtitle {
    @include font(28px, 600, 38.25px);
    color: #fff;
  }

  span {
    color: #fff;
  }
}
.content {

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 40px;
    border-top: $border-param;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    &_right-border {
      border-right: $border-param;
    }
  
    &_bottom-border {
      border-bottom: $border-param;
    }
  }
}
.block-fox {
  
  &__task {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  &__fox {
    position: relative;
    margin-top: -250px;
  }
}
.block-card {

  perspective: 1000px;

  &__animation {
    display: flex;
    width: 470px;
    margin-top: 58px;
  }

  &__card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -67px;
    z-index: 2;
    width: 284px;
    height: 444px;
  }

  &__birds1 {
    position: relative;
    top: 90px;
    left: -25px;
    z-index: 3;
  }
  &__birds2 {
    position: relative;
    top: 32px;
    left: -97px;
    z-index: 1;
  }

  &__task {
    margin-bottom: 34px;
    margin-top: 32px;
  }
}
.card {

  background-color: #FFFFFF;
  border-radius: 16px;

  &_button {
    width: 218px;
    height: 56px;
  }

  &__infinity {
    margin-top: 25px;
  }

  &__title {

    @include font(28px, 700, 32px);
    text-align: center;
    margin: 5px  24px;
  }

  &__info {

    @include font(20px, 400, 28px);
    text-align: center;
    margin: 24px;
  }
}
.button {

  display: flex;
  background-color: #FDD170;
  border-radius: 48px;
  justify-content: center;
  align-items: center;

  &__image {
    width: 22px;
    height: 15px;
  }

  &__text {
    @include font(14px, 800, 24px);
    text-align: center;
    margin-left: 9px;
  }
}
.card-body {
  width: 504px;
  height: 608px;
  margin-top: 54px;
  background-color: #FFFFFF;
}
.form {
  border-top: 5px solid #FDD170;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include font(40px, 700, 68px);
    text-align: center;
    margin-top: 17px;
  }

  &__info {
    @include font(16px, 400, 24px);
    text-align: center;
  }

  &__input-info {
    height: 24px;
    align-self: flex-start;
    margin-top: 33px;
    margin-left: 46px;

    opacity: 0;
    @include font(14px, 400, 24px);
    color: #B7BABE;

    &_top {
      margin-top: 22px;
    }
  }

  &__select {
    width: 408px;
    height: 40px;

    font-family: Manrope;
    @include font(20px, 400, 32px);

    background-color: #FFFFFF;
  }

  &__phone-number {
    width: 408px;
    margin-top: 44px;
    @include font(20px, 400, 32px);
  }

  &__phone-number::placeholder {
    opacity: 1;
  }

  &__textarea {
    width: 100%;
    max-width: 408px;

    margin-top: 6px;
    overflow: hidden;

    @include font(20px, 400, 32px);

    resize: none;    
  }

  &__textarea::placeholder {
    opacity: 1;
  }
 
  &__file {
    margin-top: 40px;
  }

  &__submit {
    margin-top: 32px;
  }
}

.new-select {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
  
    background: #FFFFFF;
  
    box-shadow: 0px 10px 30px rgba(80, 86, 131, 0.1);
  }

  &__element {
    display: flex;
    align-items: center;

    width: 415px;
    height: 48px;
    @include font(14px, 400, 20px);

    &_clicked {
      display: flex;
      align-items: center;
  
      width: 415px;
      height: 48px;
      @include font(14px, 400, 20px);
      background-color: #F4F4F4;
    }

    &_clicked::before {
      margin-left: 18px;
      margin-right: 13px;
      content: url('../svg/check.svg');
    }
  }

  &__element::before {
    opacity: 0%;
    margin-left: 18px;
    margin-right: 13px;
    content: url('../svg/check.svg');
  }

  &__element:hover {
    background-color: #F4F4F4;
  }

}

.new-select::after {
  content: url('../svg/arrow_down.svg');
  margin-top: -2px;
}


.tabs-container {
  display: flex;
  justify-content: center;
}

.numbers {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 88px;
  height: 178px;
  margin-top: 77px;
  
		&__num {
      width: 88px;
      height: 48px;
      padding-top: 12px;
      @include font(20px, 800, 24px);
      text-align: center;
      opacity: 0.35;
		}
    
}

.tabs {

  width: 288px;
  height: 178px;
  margin-top: 93px;
  margin-left: 36px;

  &__title {
    display: flex;
    justify-content: space-between;
    width: 240px;
    @include font(16px, 700, 16px);
    text-align: center;

    &_margin-top {
      margin-top: 32px;
    }

  }

  &__title-open::after {
    content: url('../svg/arrow_down.svg');
  }

  &__title-close::after {
    content: url('../svg/arrow_up.svg');
  }

  &__info {
    width: 240px;
    height: 50px;
    margin-top: 16px;
    @include font(13px, 400, 16px);
  }
}

.task {
  max-width: 294px;
  text-align: center;
  @include font(14px, 400, 19px)
}

.line {
  border: 1px solid #F4F4F4;
  margin-top: 16px;
  margin-left: -12px;

  &_wide {
    border: 1px solid #F4F4F4;
    margin-top: 8px;
    width: 440px;
  }

}