@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

@import "_nullstyle.scss";

$border-param: 1px solid #191B1D;

@mixin font($fz, $fw, $lh) {

  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;

}

body {
  background-color: #B7BABE;
  font-family: Manrope;
}

.header {
  display: flex;
  
  
  &__container {
    max-width: 1024px;
    text-align: center;
    margin: auto;
  }

  &__title-top {
    margin-top: 18px;
  }

  &__title {
    margin-top: -9px;
  }

  &__subtitle {
    max-width: 712px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}
.title {

  @include font(84px, 700, 114.74px);

  &_small {
    @include font(36px, 800, 49.18px);
  }

  &_subtitle {
    @include font(28px, 600, 38.25px);
    color: #fff;
  }

  span {
    color: #fff;
  }
}

.content {
  
  &__container {
    display: flex;
    margin-top: 40px;
    border-top: $border-param;
    border-bottom: $border-param;
  }

  &__block {
    max-width: 50%;
  }
}
.block-fox {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: $border-param;
  
  &__task {
    max-width: 294px;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
    @include font(14px, 400, 19px)
  }

  &__fox {
    position: relative;
    margin-top: -250px;
  }
}

.block-card {

  
  &__animation {
  }

  &__card { 
  }

  &__birds1 {
  }

  &__birds2 {
  }

  &__task {
  }
}
.card {

  &_button {
  }

  &__infinity {
  }

  &__title {
  }

  &__info {
  }
}
.button {

  &__image {
  }

  &__text {
  }
}
