body {
  margin: 0px;
  background-color: #B7BABE; 
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 287px;

  border-top: 1px solid #191B1D;
}

.front_test {
  position: absolute;
  width: 187px;
  height: 49px;
  margin-top: 18px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);

  font-family: 'Manrope';
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;

  color: #191B1D;
}

.header_text {
  position: absolute;
  width: 1024px;
  height: 111px;
  margin-top: 58px;
  left: 50%;
  transform: translate(-50%);
  
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 84px;
  line-height: 115px;
  text-align: center;

  color: #191B1D;
}

.task_text {
  position: absolute;
  width: 712px;
  height: 74px;
  margin-top: 173px;
  left: 50%;
  transform: translate(-50%);
  
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  color: #FFFFFF;
}

.white_text {
  color: #FFFFFF;
}

.fox_task {
  position: absolute;
  width: 50%;
  height: 640px;

  border: 1px solid #191B1D;
  border-top: none;
  border-left: none;
}

.fox {
  position: absolute;
  top: -250px;
  left: 50%;
  transform: translate(-50%);
}

.fox_task_text {
  position: absolute;
  width: 294px;
  height: 36px;
  margin-top: 506px;
  left: 50%;
  transform: translate(-50%);

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #191B1D;
}

.card_task {
    position: absolute;
    width: 50%;
    height: 640px;
    left: 50%;
    display: flex;
    justify-content: center;

    border-bottom: 1px solid #191B1D;
    
  }

.scale {
  perspective: 1000px;
}

.animation {
  position: absolute;
  width: 284px;
  height: 444px;
  margin-top: 58px;
}

.card {
  position: absolute;
  width: 284px;
  height: 444px;
  z-index: 2;

  background-color: #FFFFFF;
  mix-blend-mode: normal;
  border-radius: 16px;
}

.card_task_text {
  position: relative;
  width: 294px;
  height: 72px;
  margin-top: 536px;  

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #191B1D;
}

.infinity {
  position: absolute;
  width: 176;
  height: 132;
  left: 50%;
  transform: translate(-50%);
}

.flex_container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

.card_title {
  position: absolute;
  width: 236px;
  height: 64px;
  margin-top: 169px;
  margin-left: 24px;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;

  color: #191B1D;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card_info {
  position: absolute;
  width: 236px;
  height: 56px;
  margin-top: 257px;
  margin-left: 24px;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  color: #191B1D;
  opacity: 0.85;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.button {
  position: relative;
  width: 218px;
  height: 56px;
  margin-top: 337px;
  margin-left: 33px;
  padding: 0px;

  background: #FDD170;

  border: none;
  border-radius: 48px;

  display: flex;
  align-items: center
}

.eye {
 position: absolute;
 left: 64px;
}

.button_text {
    position: absolute;
    left: 95px;
 
    width: 60px;
    height: 24px;
    margin: 0;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    
    text-align: center;
    text-transform: uppercase;

    color: #191B1D;
}

.parallax {
  min-height: 100vh;
}

.bird2,
.bird1 {
  position: absolute;
  height: 100%; 
}

.bird1 {
  right: 300px;
  z-index: 3;
}

.bird2 {
  

  z-index: 1;
}

.form_task {
  position: absolute;
  width: 50%;
  height: 782px;
  margin-top: 640px;

  border: 1px solid #191B1D;
  border-top: none;
  border-left: none;
}

.form {
  position: absolute;
  width: 504px;
  height: 603px;
  margin-top: 54px;
  left: 50%;
  transform: translate(-50%);
  
  background-color: #FFFFFF;

  border-top: 5px solid #FDD170;
}  

.form_title {
  position: absolute;
  width: 131px;
  height: 68px;
  margin-top: 17px;
  left: 187px;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  text-align: center;

  color: #191B1D;
}

.form_info {
  position: relative;
  width: 197px;
  height: 24px;
  margin-top: 85px;
  left: 154px;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #191B1D;
}

select {
  width: 440px;
  height: 64px;
  top: 32px;
  margin-left: 32px;
  padding: 0;

  background-color: #FFFFFF;

  border: 1px;
  border-top: none;
  border-left: none;
  border-right: none;  

  border-color: #F4F4F4;

}